{% extends '_master.twig' %}

{% block navbar %}
{% embed '_navbar.twig' %}
{% block navActiveApply %}class="active"{% endblock %}
{% endembed %}
{% endblock %}

{% block main %}
    <script class="no-fouc-script">document.write('<div class="no-fouc">');</script>
    <form method="post">
        <div class="row">
            <div class="col-lg-4">
                <h1>Your Loan Application</h1>
            </div>
            <div class="col-lg-8">
                <div id="form-navigation">
                    <input type="radio" name="form-navigation" value="1" id="form-navigation-1" class="ui-helper-hidden"><label for="form-navigation-1">About your loan</label>
                    <input type="radio" name="form-navigation" value="2" id="form-navigation-2" class="ui-helper-hidden"><label for="form-navigation-2">About you</label>
                    <input type="radio" name="form-navigation" value="3" id="form-navigation-3" class="ui-helper-hidden"><label for="form-navigation-3">About your residence</label>
                    <input type="radio" name="form-navigation" value="4" id="form-navigation-4" class="ui-helper-hidden"><label for="form-navigation-4">About your income</label>
                    <input type="radio" name="form-navigation" value="5" id="form-navigation-5" class="ui-helper-hidden"><label for="form-navigation-5">Confirmation</label>
                </div>
            </div>
        </div>
        {% if errors is defined %}
            <div class="ui-state-error">
                <p><span class="ui-icon ui-icon-alert" style="float:left; margin-right:.5em;"></span><strong>Some errors were encountered with your application:</strong></p>
                <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id="fieldset-container">
            <fieldset id="step-1" class="ui-corner-all ui-widget-content">
                <legend class="well ui-helper-clearfix">
                    <span>About your loan</span>
                    <a href="#" class="top">&uArr; Back to top</a>
                </legend>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="field" id="loan-amount-field">
                                    <label for="application_loan_amount" class="question">How much would you like to borrow?</label>
                                    <div class="currency"><span class="currency-symbol ui-corner-left">$</span><input type="number" name="application[loan_amount]" id="application_loan_amount" class="dynamic text number ui-corner-all" min="100" max="2000" step="100" value="{{ application.loan_amount }}" /></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="field">
                                    <label for="application_loan_term_weeks" class="question">For what loan term?</label>
                                    <div id="loan-term-radios">
                                        <div class="radio">
                                            <input type="radio" name="application[loan_term_weeks]" value="6" id="application_loan_term_weeks_6" class="dynamic radio" {% if (application.loan_term_weeks == 6) %}checked="checked"{% endif %} />
                                            <label for="application_loan_term_weeks_6" class="radio-label">6 weeks</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="application[loan_term_weeks]" value="52" id="application_loan_term_weeks_52" class="dynamic radio" {% if (application.loan_term_weeks == 52) %}checked="checked"{% endif %} />
                                            <label for="application_loan_term_weeks_52" class="radio-label">12 months</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="field">
                                    <label for="application_australian_resident" class="question">Are you an Australian resident?</label>
                                    <div id="australian-resident-radios">
                                        <div class="radio">
                                            <input type="radio" name="application[australian_resident]" value="1" id="application_australian_resident_yes" class="dynamic radio" {% if (application.australian_resident == true) %}checked="checked"{% endif %} />
                                            <label for="application_australian_resident_yes" class="radio-label">Yes</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="application[australian_resident]" value="0" id="application_australian_resident_no" class="dynamic radio" {% if (application.australian_resident == false and application.australian_resident != null) %}checked="checked"{% endif %} />
                                            <label for="application_australian_resident_no" class="radio-label">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="field">
                                    <label for="application_medicare]" class="question">Do you have Medicare?</label>
                                    <div id="medicare-radios">
                                        <div class="radio">
                                            <input type="radio" name="application[medicare]" value="1" id="application_medicare_yes" class="dynamic radio" {% if (application.medicare == true) %}checked="checked"{% endif %} />
                                            <label for="application_medicare_yes" class="radio-label">Yes</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="application[medicare]" value="0" id="application_medicare_no" class="dynamic radio" {% if (application.medicare == false and application.medicare != null) %}checked="checked"{% endif %} />
                                            <label for="application_medicare_no" class="radio-label">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <ul id="loan-summary" class="well ui-corner-all">
                            <li>Amount borrowed: <span id="amount-borrowed"></span></li>
                            <li>Establishment fee: <span id="establishment-fee"></span></li>
                            <li>Fee per month: <span id="fee-per-month"></span></li>
                            <li>Interest rate: <span id="interest-rate"></span></li>
                            <li>Comparison rate: <span id="comparison-rate"></span></li>
                            <li>Loan period: <span id="loan-period"></span></li>
                            <li>Weekly repayment: <span id="total-repayments"></span></li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <fieldset id="step-2" class="ui-corner-all ui-widget-content">
                <legend class="well ui-helper-clearfix">
                    <span>About you</span>
                    <a href="#" class="top">&uArr; Back to top</a>
                </legend>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="field">
                            <label for="personal_first_name" class="question">What is your first given name (personal name)?</label>
                            <input type="text" name="personal[first_name]" id="personal_first_name" class="dynamic text ui-corner-all" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="field">
                            <label for="personal_middle_name" class="question">What are your other given names (middle names)?</label>
                            <input type="text" name="personal[middle_name]" id="personal_middle_name" class="dynamic text ui-corner-all" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="field">
                            <label for="personal_last_name" class="question">What is your surname (family name)?</label>
                            <input type="text" name="personal[last_name]" id="personal_last_name" class="dynamic text ui-corner-all" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="field">
                            <label for="personal_date_of_birth" class="question">What is your date of birth?</label>
                            <input type="text" name="personal[date_of_birth]" id="personal_date_of_birth" class="dynamic text date ui-corner-all" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="field">
                            <label for="personal_email" class="question">What is your email address?</label>
                            <input type="email" name="personal[email]" id="personal_email" class="dynamic text email ui-corner-all" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="field">
                            <label for="personal_phone_primary" class="question">What is your primary phone number?</label>
                            <input type="tel" name="personal[phone_primary]" id="personal_phone_primary" class="dynamic text phone tel ui-corner-all" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="field">
                            <label for="personal_phone_secondary" class="question">Please provide a secondary phone number?</label>
                            <input type="tel" name="personal[phone_secondary]" id="personal_phone_secondary" class="dynamic text phone tel ui-corner-all" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="step-3" class="ui-corner-all ui-widget-content">
                <legend class="well ui-helper-clearfix">
                    <span>About your residence</span>
                    <a href="#" class="top">&uArr; Back to top</a>
                </legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="field">
                            <label for="address_address_line1" class="question">What is the street address?</label>
                            <input type="text" name="address[address_line1]" id="address_address_line1" class="dynamic text ui-corner-all" />
						</div>
						<div class="field">
							<label for="address_address_line2"></label>
                            <input type="text" name="address[address_line2]" id="address_address_line2" class="dynamic text ui-corner-all" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="field">
                            <label for="address_suburb" class="question">Suburb</label>
                            <input type="text" name="address[suburb]" id="address_suburb" class="dynamic text ui-corner-all" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="field">
                            <label for="address_postcode" class="question">Postcode</label>
                            <input type="text" name="address[postcode]" id="address_postcode" class="dynamic text digits ui-corner-all" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="field">
                            <label for="address_state" class="question">State</label>
                            <select name="address[state]" id="address_state" class="dynamic ui-corner-all">
                                <option value=""></option>
                                <option value="ACT">Australian Capital Territory</option>
                                <option value="NSW">New South Wales</option>
                                <option value="NT">Northern Territory</option>
                                <option value="QLD">Queensland</option>
                                <option value="SA">South Australia</option>
                                <option value="TAS">Tasmania</option>
                                <option value="VIC">Victoria</option>
                                <option value="WA">Western Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="field">
                            <label for="address_duration_months" class="question">How long have you lived here?</label>
                            <select name="address[duration_months]" id="address_duration_months" class="dynamic ui-corner-all">
                                <option value=""></option>
                                <option value="1">1 month</option>
                                <option value="2">2 months</option>
                                <option value="3">3 months</option>
                                <option value="4">4 months</option>
                                <option value="5">5 months</option>
                                <option value="6">6 months</option>
                                <option value="9">6-9 months</option>
                                <option value="12">9-12 months</option>
                                <option value="18">12-18 months</option>
                                <option value="24">18 months+</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="step-4" class="ui-corner-all ui-widget-content">
                <legend class="well ui-helper-clearfix">
                    <span>About your income</span>
                    <a href="#" class="top">&uArr; Back to top</a>
                </legend>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="field">
                            <label for="income_type" class="question">What type of income do you receive?</label>
                            <select name="income[type]" id="income_type" class="dynamic ui-corner-all">
                                <option value=""></option>
                                <option value="C">Contractor</option>
                                <option value="T">Temporary Employee</option>
                                <option value="P">Permanent Employee</option>
                                <option value="S">Self-Employed</option>
                                <option value="B">Benefits / Pension</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="field">
                            <label for="income_amount" class="question">How much are you paid?</label>
                            <div class="currency"><span class="currency-symbol ui-corner-left">$</span><input type="number" name="income[amount]" id="income_amount" class="dynamic text number ui-corner-all" min="0" max="20000" step="100" value="0" /></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="field">
                            <label for="income_period" class="question">How often are you paid?</label>
                            <select name="income[period]" id="income_period" class="dynamic ui-corner-all">
                                <option value=""></option>
                                <option value="W">Weekly</option>
                                <option value="F">Fortnightly</option>
                                <option value="M">Monthly</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="field">
                            <label for="income_duration_months" class="question">How long have you had this income?</label>
                            <select name="income[duration_months]" id="income_duration_months" class="dynamic ui-corner-all">
                                <option value=""></option>
                                <option value="1">1 month</option>
                                <option value="2">2 months</option>
                                <option value="3">3 months</option>
                                <option value="4">4 months</option>
                                <option value="5">5 months</option>
                                <option value="6">6 months</option>
                                <option value="9">6-9 months</option>
                                <option value="12">9-12 months</option>
                                <option value="18">12-18 months</option>
                                <option value="24">18 months+</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="field">
                            <label for="income_description" class="question">Please give your job title or type of benefits</label>
                            <input type="text" name="income[description]" id="income_description" class="dynamic text ui-corner-all" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="step-5" class="ui-corner-all ui-widget-content">
                <legend class="well ui-helper-clearfix">
                    <span>Confirmation</span>
                    <a href="#" class="top">&uArr; Back to top</a>
                </legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="field">
                            <label for="" class="question">Please confirm your intention to apply for this loan</label>
                            <div class="checkbox">
                                <input type="checkbox" name="application[accepted_terms]" id="application_accepted_terms" class="checkbox" />
                                <label for="application_accepted_terms">I have read and understood the <a href="{{ app.request.baseUrl }}/terms">terms and conditions</a> of this loan application</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" name="application[accepted_marketing]" id="application_accepted_marketing" class="checkbox" />
                                <label for="application_accepted_marketing">I wish to receive marketing material such as competitions, promotions, events and new products</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="buttons well">
            <input type="submit" value="Submit My Application" />
        </div>
    </form>
    <script class="no-fouc-script">document.write('</div>');</script>
{% endblock %}

{% block script %}
    <script>
        (function ($) {
            $(function () {
				loans.setupApplicationForm('{{ app.request.baseUrl }}', '{{ application.id }}', '{{ application.token }}', {{ messages|json_encode|raw }});
           	});
        }(jQuery));
    </script>
{% endblock %}
